body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: black;
}


a:hover{
    opacity: 50%;
}

#indexContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jokesContainer{
    padding: 10px 10px 10px 10px;
    margin: 30px 30px 30px 30px;
}

#singleJoke{
    border: 5px solid black;
    padding: 10px 10px 10px 10px;
}

#shuffle{
    margin: 10px 10px;

}

#save{

    margin: 10px 10px;


}