body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    opacity: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#shuffle{
    margin: 10px 10px;

}

#save{

    margin: 10px 10px;


}